{% extends "base.html" %}
{% block script_file %}
    <script src="http://www.getuikit.net/vendor/marked.js" xmlns="http://www.w3.org/1999/html"></script>
    <script src="http://www.getuikit.net/vendor/highlight/highlight.js"></script>
    <script src="http://www.getuikit.net/src/js/components/pagination.js"></script>
    <style>
    .uk-article>p>img{
        height:150px
    }
    </style>
{% endblock %}

{% block mid_content %}
  <div class="uk-width-medium-3-4">
      <div class="uk-gird" data-uk-grid-margin>

        <div id="all_article_box">

        </div>
        <ul class="uk-pagination" id="page"></ul>

      </div>

    </div>
{% endblock %}
{% block script %}
{#    <script>#}
    function view_article(content){
        marked(content, function (err, content) {
          if (err) throw err;
          console.log(content);
        });

        marked.setOptions({
          highlight: function (code) {
            return hljs.highlightAuto(code).value;
          }
        });

        var view_content = marked(content);
        return view_content;
    }
    function ini_article(article_box,start,end,ini_done){
        $.get('/index/blog/article/{{ user_id }}?&start='+start+'&end='+end, function(data, status){
        if (status=='success'){
            if(data.stat==1){
                for(var i =0;i<data.data.length;i++){
                    var new_article = $('<article class="uk-article" id="content"></article>');
                    var title = data.data[i].title;
                    var article_url = '/index/article/' + data.data[i].article_id;
                    var new_p = $('<p></p>').append($('<a></a>').attr('href',article_url).text(title));
                    var new_title = $('<h1 class="uk-article-title"></h1>').append(new_p);
                    var new_time = $('<p class="uk-article-meta"></p>').text(data.data[i].create_time+' 作者 ');
                    new_time.append($('<a href="#"></a>').text(data.data[i].user_name));
                    var article_content = view_article(data.data[i].content);
                    new_article.append(new_title);
                    new_article.append(new_time);
                    new_article.append($(article_content));
                    new_article.append($('<p></p>').append($('<a>阅读全文</a>').attr('href',article_url)));
                    new_article.append($('<a href="#" class="uk-icon-small uk-icon-hover uk-icon-thumbs-o-up"></a><i>0 </i>'));
                    new_article.append($('<a href="#" class="uk-icon-small uk-icon-hover uk-icon-star-o"></a><i>0 </i>'));
                    new_article.append($('<a href="#" class="uk-icon-small uk-icon-hover uk-icon-comments-o"></a><i>0 </i>'));
                    article_box.append(new_article);

                }
                if(ini_done==0) {
                    if (data.count <= 5) {
                        return;
                    }
                    else {
                        var pagination = UIkit.pagination($('#page'), {items: data.count, itemsOnPage: 5});
                        $('#page').on('select.uk.pagination', function (e, pageIndex) {
                            select_page(pageIndex + 1, type);
                        });
                    }
                }
            }
            else{
                alert(data.message);
            }
        }
    });
    }
    function ini_all(){
        var all_article_box = $('#all_article_box');
        ini_article(all_article_box, 0, 5,0);
    }
    function select_page(index, type){
        var start = (index-1)*5;
        var end = index * 5;
        var all_article_box = $('#all_article_box');
        all_article_box.empty();
        ini_article(all_article_box, 0, start, end,1);
    }
    $(document).ready(ini_all);
{% endblock %}