{% extends "base.html" %}
{% block script_file %}
  <link rel="stylesheet" href="http://www.getuikit.net/vendor/codemirror/codemirror.css">
  <script src="http://www.getuikit.net/vendor/codemirror/codemirror.js"></script>
  <script src="http://www.getuikit.net/vendor/marked.js"></script>
{#  <script src="http://www.getuikit.net/src/js/components/htmleditor.js"></script>#}
    <script type="text/javascript" src="http://files-10015041.file.myqcloud.com/static/src/cos-js-sdk/qcloud_sdk.js"></script>
	<script type="text/javascript" src="http://files-10015041.file.myqcloud.com/static/src/cos-js-sdk/swfobject.js"></script>
    <script src="http://files-10015041.file.myqcloud.com/static/src/js/components/my_htmldeitor.js"></script>
    <script src="http://www.getuikit.net/vendor/highlight/highlight.js"></script>
{% endblock %}
{% block mid_content %}
  <div class="uk-width-1-1">
    <div class="uk-form">
        <label for="">标题：</label>
        <input type="text" placeholder="" class="uk-width-1-2" id="title" value="{{ title }}">

    </div>
    </br>
  <!-- <div class="uk-grid" data-uk-grid-margin> -->
      <textarea id="my_editor" data-uk-htmleditor="{maxsplitsize:600, markdown:true}" data-uk-check-display="1" style="display: none;">{{article}}</textarea>
    </br>
    <a class="uk-button uk-button-large uk-button-primary uk-align-right" href="#" onclick="send_article();return false;">发表</a>

    </div>
{% endblock %}
{% block script %}
  function send_article(){
    var title = $('#title').val();
    var content = $('#my_editor').val();
    if (title.length <= 1){
        alert("标题长度必须大于或等于两个字！");
        return;
    }
    if (content.length <= 0){
        alert("文章不能为空！");
        return;
    }
    var current_url = window.location.href;
    var data = {
        'title': title, 'content': content
    };
    $.post(current_url, data, function(data, status){
        if (status=='success'){
            if(data.stat==0){
                alert(data.message);
            }
            else{
                window.location.href = '/index/share/' + data.article_id;
            }
        }
    });

  }
{% endblock %}