<!DOCTYPE html>
<html lang="en-gb" dir="ltr" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="" />
  <meta name="description" content="">
  <title>马克分享</title>
  <link rel="stylesheet" href="http://files-10015041.file.myqcloud.com/static/src/css/uikit.gradient.css">
  <script src="http://files-10015041.file.myqcloud.com/static/src/js/jquery.js"></script>
  <script src="http://files-10015041.file.myqcloud.com/static/src/js/uikit.js"></script>
  <script src="http://www.getuikit.net/src/js/components/notify.js"></script>
  <script src="http://www.getuikit.net/src/js/components/pagination.js"></script>
  <link id="data-uikit-theme" rel="stylesheet" href="http://files-10015041.file.myqcloud.com/static/src/css/uikit.docs.min.css">
  <link rel="stylesheet" href="http://files-10015041.file.myqcloud.com/static/src/css/my_uikit.css">
</head>

<body class="tm-background">
  <nav class="tm-navbar uk-navbar uk-navbar-attached">
            <div class="uk-container uk-container-center">

                <a class="uk-navbar-brand uk-hidden-small" href="../index.html">马克分享</a>

                <ul class="uk-navbar-nav uk-hidden-small">
                    <li><a href="documentation_get-started.html">开始使用</a></li>
                    <li class="uk-active"><a href="core.html">核心组件</a></li>
                    <li><a href="components.html">附加组件</a></li>
                    <li><a href="customizer.html">定制工具</a></li>
                    <li><a href="../showcase/index.html">案例展示</a></li>
                    <li><a href="tutorials.html">视频教程</a></li>
                </ul>

                <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>

                <div class="uk-navbar-brand uk-navbar-center uk-visible-small">马克分享</div>

            </div>
        </nav>
  <div class="tm-middle">
  <div class="uk-container uk-container-center">
  <div class="uk-grid" data-uk-grid-margin>
  <div class="uk-width-medium-1-1">
  <div class="uk-vertical-align uk-text-center" style="background:rgb(205, 212, 204);height: 450px;">
    <div class="uk-vertical-align-middle uk-width-1-2">
      <h1 class="uk-heading-large">马克分享</h1>
      <p class="uk-text-large">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo.</p>
      <p>
          <a class="uk-button uk-button-primary uk-button-large" href="/index/login">登录</a>
          <a class="uk-button uk-button-large" href="/editor/temp">游客</a>
      </p>
    </div>
  </div>
</div>
</div>
</div>
</div>
<div id="offcanvas" class="uk-offcanvas">
          <div class="uk-offcanvas-bar">
              <ul class="uk-nav uk-nav-offcanvas">
                  <li class="uk-active">
                      <a href="layouts_frontpage.html">Frontpage</a>
                  </li>
                  <li>
                      <a href="layouts_portfolio.html">Portfolio</a>
                  </li>
                  <li>
                      <a href="layouts_blog.html">Blog</a>
                  </li>
                  <li>
                      <a href="layouts_documentation.html">Documentation</a>
                  </li>
                  <li>
                      <a href="layouts_contact.html">Contact</a>
                  </li>
                  <li>
                      <a href="layouts_login.html">Login</a>
                  </li>
              </ul>
          </div>
</div>
<div class="tm-footer">
            <div class="uk-container uk-container-center uk-text-center">

                <ul class="uk-subnav uk-subnav-line uk-flex-center">
                    <li><a href="http://github.com/uikit/uikit">GitHub</a></li>
                    <li><a href="http://github.com/uikit/uikit/issues">Issues</a></li>
                    <li><a href="http://github.com/uikit/uikit/blob/master/CHANGELOG.md">Changelog</a></li>
                    <li><a href="https://twitter.com/getuikit">Twitter</a></li>
                </ul>
            </div>
        </div>
</body>
</html>
